form {
	z-index: 5;
	margin-top: 30vmin;
	left: 50%;
	position: absolute;
	width: 50%;
  	transform: translate(-50%, 0);	
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

#console {
	min-height: 10px;
	background-color: var(--color-primary);
	border-radius: 1rem;
	padding: 2vmin;
	font-size: 3vmin;
	width: 100%;
	color: var(--color-font);
	font-weight: 400;
	box-shadow: 0rem 0rem 2px 4px var(--color-accent);
	outline: none;
	border: none;
}

h1 {
	color: var(--color-font);
	display: none;
}
@media only print {
	#console {
		display: none;
	}
}