form {
	/* font-family: 'Inter', sans-serif; */
	font-weight: 400;
	z-index: 5;
	display: var(--disp);
	justify-content: center;
	position: relative;
}

#console {
	background-color: var(--color-accent);
	border-radius: 0.8rem;
	padding: 1.25rem;
	padding-left: 1.5rem;
	font-size: 1.25rem;
	width: 50%;
	margin-top: 33vh;
	color: var(--color-font);
	outline: none;
	border: none;
	z-index: 3;
}

h1 {
	color: var(--color-font);
	display: none;
}

@media only print {
	#console {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	#console {
		width: 100%;
		padding: 1rem;
	}
	.option {
		display: inline;
	}
  }

  #options {
	display: none;
	list-style-type: none;
	background-color: var(--color-accent);
	border-radius: 0rem 0rem 0.8rem 0.8rem;
	width: 50%;
	padding: 1.25rem;
	padding-left: 1.5rem;
	position: absolute;
	padding-top: 3vh;
	top: 33vh;
	z-index: 2;
  }
  
  #options li a {
	margin-top: -1px; /* Prevent double borders */
	text-decoration: none;
	color: var(--color-font);
	padding: 0.5rem;
	font-size: 1.25rem;
	display: block;
	border-radius: 0.8rem;
  }
  
  #options li a:hover:not(.header) {
	background-color: var(--color-accent);
	box-shadow: inset 0px 0px 15px -10px var(--color-primary);
	z-index: 6;
  }
