<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="Description" content="the minimalist editor">
		<link rel="icon" type="image/png" href="{{ url_for('static',filename='content/motrou.png') }}" />
		<title>motrou</title>
		<link href="{{ url_for('static',filename='styles/smpl.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
        <div id="msg">
			<h1>404!</h1>
            <h2>the page you seek is not here.</h2>
            <h2><a href="/">go home?</a></h2>
		</div>
	</body>
</html>