html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-y: visible;
	overflow-x: hidden;
	display: block;
}

body {
	background: var(--color-primary);
	position: relative;
}

:root {
	--color-primary: #ffffff;
	--color-font: #000000;
	--disp: none;
	--height: 10rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
	scrollbar-width: none; /* Firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
	display: none;
}

.editor {
	background: var(--color-primary);
	color: var(--color-font);
	z-index: 1;
}

div.DraftEditor-root {
	background: var(--color-primary);
	color: var(--color-font);
	height: inherit;
	width: inherit;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	position: absolute;
	word-wrap: break-word;
}

div.public-DraftEditor-content {
	overflow: auto;
	height: calc(100% - 0in);
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

@media only screen and (min-width: 1023px) {
	div.DraftEditor-editorContainer{
		height: calc(100% - 1in);
		padding: 1in;
		padding-bottom: 0;
		padding-top: 0;
	}
	.editor {
		height: calc(100% - 1in);
		width: calc(100% - 2in);
	}
	#margin {
		height: 1in;
	}
}

@media only screen and (max-width: 1024px) {
	div.DraftEditor-editorContainer{
		height: calc(100% - 0.25in);
		padding: 0.25in;
		padding-bottom: 0;
		padding-top: 0;
	}
	.editor {
		height: calc(100% - 0.25in);
		width: calc(100% - 0.25in);
	}
	#margin {
		height: 0.25in;
	}
}

@media only print {
	div.DraftEditor-editorContainer{
		height: 100%;
		padding: 0in;
	}
	.editor {
		height: 100%;
		width: 100%;
	}
}