.editor {
	background: var(--color-primary);
	color: var(--color-font);
	z-index: 1;
	position: fixed;
	font-family: 'Montserrat', sans-serif;
}

div.DraftEditor-root {
	background: var(--color-primary);
	color: var(--color-font);
	height: inherit;
	width: 100vw;
	position: absolute;
	word-wrap: break-word;
}

div.public-DraftEditor-content {
	overflow: auto;
	height: calc(100% - 0in);
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

@media only screen and (min-width: 1023px) {
	div.DraftEditor-editorContainer{
		height: calc(100% - 0in);
		padding: 1in;
		padding-bottom: 0;
		padding-top: 0;
	}
	div.public-DraftEditor-content {
		height: calc(100% - 2in); 
		padding-top: 1in;
		padding-bottom: 1in;
	}
	.editor {
		height: 100%;
		width: calc(100% - 2in);
	}
}

@media only screen and (max-width: 1024px) {
	div.DraftEditor-editorContainer{
		padding: 0.25in;
		padding-bottom: 0;
		padding-top: 0.5in;
		height: 100%;
	}
	div.public-DraftEditor-content {
		height: calc(100% - 0.5in);
		padding-top: 0.25in;
		padding-bottom: 0.25in;
	}
	.editor {
		height: calc(100% - 0.5in);
		width: 100%;
	}
}

@media only print {
	div.DraftEditor-editorContainer{
		height: 100%;
		padding: 0in;
	}
	.editor {
		height: 100%;
		width: 100%;
	}
}
/* 
::selection {
  background: #ffb7b7; 
}
::-moz-selection {
  background: #ffb7b7; 
} */




#styling {
	height: 200px;
	width: 50px;
	border-radius: 15px;
	background: var(--color-accent);
	z-index: 2;
	position: fixed;
	top: 5px;
	right: 5px;
	text-align: center;
	display: none;
}

@media only screen and (max-width: 1024px) {
	#styling {
		top: 5px;
		left: 5px;
		height: 50px;
		width: 200px;
	}
	.material-icons {
		color: var(--color-font);
		cursor: pointer;
		line-height: 0;
		font-size: 20px;
	}

	#buttons {
		margin-top: 0px;
	}
	
	button {
		padding: 10px;
		width: 30px;
		height: auto;
	}
}

@media only screen and (min-width: 1023px) {

#buttons {
	margin-top: 15px;
}

}

.material-icons {
	color: var(--color-font);
	cursor: pointer;
	line-height: 0;
}

button {
	background: none;
	border: none;
	text-align: center;
	padding: 10px;
	height: 15px;
}