html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-y: visible;
	overflow-x: hidden;
	display: block;
}

body {
	background: var(--color-primary);
	position: relative;
}

#msg {	height: 10rem;
	padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	z-index: 3;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	color: #f7d1ba;
	border-radius: 0rem 0rem 2rem 2rem;
	cursor: pointer;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	position: relative;
}
    
h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f7d1ba;
}

a {
    color: #dba6cb;
    text-decoration: none;
    font-size: 1.5rem;
}