@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	overflow-y: visible;
	overflow-x: hidden;
	display: block;
}

body {
	background: var(--color-primary);
	position: relative;
}

:root {
	--color-primary: #ffffff;
	--color-font: #000000;
	--disp: none;
	--height: 10rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
	scrollbar-width: none; /* Firefox */
  	-ms-overflow-style: none;  /* IE 10+ */
	display: none;
}

.swap {
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background: linear-gradient(to right,  white 0%, white 50%, black 50%, black 100%);
	box-shadow: 0px 2px 2px 2px rgba(114, 114, 114, 0.185);
	z-index: 3;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.editor {
	background: var(--color-primary);
	color: var(--color-font);
	height: calc(100% - 2in);
	width: calc(100% - 2in);
	z-index: 1;
}

div.DraftEditor-root {
	background: var(--color-primary);
	color: var(--color-font);
	height: inherit;
	width: inherit;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	position: absolute;
	word-wrap: break-word;
}

div.public-DraftEditor-content {
	overflow: auto;
	height: calc(100% - 0in);
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
	padding: 1in;
}
div.DraftEditor-editorContainer{
	height: calc(100% - 1in);
}

.split {
	position: absolute;
	height: 1in;
	width: 100%;
	background: blue;
	display: inline-block;
	bottom: 0;
}